<div class="conteFormu">
{{project2.title}}<br>
<!-- {{project2.type}}<br> -->
<br><br>

{{project2.coin.mountPerEth}}<br>
{{project2.coin.bloqMessage}}<br><br>

{{project2.social.likes}}<br>
{{project2.social.dislikes}}<br><br>

{{project2.exchange[0].name}}<br>
{{project2.exchange[0].link}}<br><br>

{{project2.news[0].title}}<br>
{{project2.news[0].description}}<br>
{{project2.news[0].link}}<br>
{{project2.news[0].datEvent}}<br>
{{project2.news[0].createdAt}}<br><br>

{{project2.bono}}<br>
{{project2.aporteMax}}<br>
{{project2.aporteMin}}<br>
{{project2.webSite}}<br>
{{project2.whitePaper}}<br>
{{project2.dateStart}}<br>
{{project2.dateEnd}}<br>
{{project2.description}}<br>
{{project2.team}}<br>
{{project2.product}}<br>
{{project2.partner}}<br>
{{project2.contractAdress}}<br>



</div>


<div class="newsFeed">

      <mat-accordion *ngIf="project.news.length>0">

        <mat-expansion-panel *ngFor="let new of project.news" class="itemMat" >

          <mat-expansion-panel-header>
            <mat-panel-title class="contItemsu">
              {{new.title}}
            </mat-panel-title>
          </mat-expansion-panel-header>

      <div class="contItemsu">
        <div class="itemUser2">{{new.description}}</div>
      </div>

        </mat-expansion-panel>

      </mat-accordion>
      <p *ngIf="project.news.length === 0" class="fuente text">No hay noticias</p>

</div>
