


			<div class="carta fuente" id="carta" >
				<div class="infoProject">
					<div class="cnombreProyecto">
						<div class="nombreProyecto">Nombre Proyecto Moneda</div>
						<div class="icons">
							<img src="../../assets/pool.png" width="35">
							<i class="material-icons alerta">error_outline</i>
						</div>
					</div>
					<div class="cutilidad">
            <div class="utilidad">

						<div class="rentabilidad"><p class="tituloc">Hard cap</p><p class="rent">10M </p></div>

						<div class="plusvalia"><p class="tituloc">Precio compra</p> <p class="rent">4cts</p></div>
						<div class="plusvalia"><p class="tituloc">Bono</p> <p class="rent">+20%</p></div>
						<div class="plusvalia"><p class="tituloc">Aporte min ETH</p> <p class="rent">0.2</p></div>

						<!-- <div class="plusvalia"><p class="tituloc">RETORNO</p> <p class="plus">24<p id="mes" class="tituloc">MESES</p></p></div> -->

					  </div>
          </div>
					<div class="cprogreso">
						<div class="contfinal">
							<i class="material-icons cardColorElement">timer</i>
							<span class="meta">14 Sep</span>
						</div>

						<div class="contprogreso">
							<div class="live">
								en vivo
						  </div>

							<div class="progreso">
								<div class="progresado"></div>
							</div>

							<div class="tasa cardColorElement" title="50 Millones (17 k Dolares)" uk-tooltip="pos: bottom">
								15 Días /<span class="alcanzado">30</span>
							</div>

						</div>
						<div class="contfinal">
							<i class="material-icons cardColorElement">timer_off</i>
							<span class="meta">15 Oct</span>
						</div>
					 </div>

					<div style="width: 100%; display: flex; justify-content: center; margin-bottom: 15px;">
					<a id="masaber" [routerLink]="['/detail']" class="subcm"onclick="sdetalleProyecto();" >Quiero saber más</a>
					</div>

				</div>

				<div class="picProject" id="picProject">
					<div class="contBut">
						<a id="saberMas" [routerLink]="['/detail']" class="subcm verMas"onclick="sdetalleProyecto();" >Quiero saber más</a>
					</div>


					  <div id="contenedor-slider" class="contenedor-slider">

					 <div id="slider" class="slider">

					  </div>
					  <div id="btn-prev" class="btn-prev">&#60;</div>
					  <div id="btn-next" class="btn-next">&#62;</div>



				<div class="contpic">

				<!-- <div id="fecha" class="uk-grid-small uk-child-width-auto" uk-grid uk-countdown="date: 2017-08-06T18:58:50+00:00" title="la oportunidad finaliza en: " uk-tooltip="pos: top"> -->

					<!-- </div> -->

					<!-- <div class="controles"></div> -->


				</div>



				</div>



				</div>
			</div>
