

<div class="repartidor" *ngFor="let item of alimentadorFeed">

			<div class="carta fuente" id="carta"  *ngIf="item.typeRelease == 'project'" >
				<div class="infoProject">
					<div class="cnombreProyecto">
						<div class="nombreProyecto">{{item.coin.name}}</div>
						<div class="icons">
							<img *ngIf="item.pool == true" src="../../assets/pool.png" width="30">
							<i (mouseenter)="toggleModalHover(item._id)"  class="material-icons alerta">error_outline</i>

							<app-modalHF class="appM" id="appM" *ngIf="mostrar === item._id"  (notify)="onNotifyClicked($event)"  [status]="status" [token]="news" [dataPool]="poolData"></app-modalHF>

						</div>
					</div>
					<div class="cutilidad">
            <div class="utilidad">

						<div class="rentabilidad" ><p class="tituloc">Hard cap</p><p class="rent">{{item.coin.hardCap}}M </p></div>

						<div class="plusvalia"><p class="tituloc">Precio compra</p> <p class="rent">{{item.coin.priceUsd}}cts</p></div>
						<div class="plusvalia" *ngIf="item.coin.Bono"><p class="tituloc">Bono</p> <p class="rent">+{{item.coin.Bono}}%</p></div>
						<div class="plusvalia" *ngIf="item.coin.minEth"><p class="tituloc">Aporte min ETH</p> <p class="rent">{{item.coin.minEth}}</p></div>

						<!-- <div class="plusvalia"><p class="tituloc">RETORNO</p> <p class="plus">24<p id="mes" class="tituloc">MESES</p></p></div> -->

					  </div>
          </div>
					<div class="cprogreso">
						<div class="contfinal">
							<i class="material-icons cardColorElement">timer</i>
							<span class="meta">{{item.dateStart | amLocale:'es' |  amLocal |  amDateFormat:'MMMM D'}}</span>
						</div>

						<div class="contprogreso">
							<div class="live">
								en vivo
						  </div>

							<div class="progreso">
								<div class="progresado" [ngStyle]="{'width':getBarProgress(item.barDiasProgress)}"></div>
							</div>

							<div class="tasa cardColorElement" title="50 Millones (17 k Dolares)" uk-tooltip="pos: bottom">
								{{item.diasTranscu}} /<span class="alcanzado">{{item.diasTotal}}</span>
							</div>

						</div>
						<div class="contfinal">
							<i class="material-icons cardColorElement">timer_off</i>
							<span class="meta">{{item.dateEnd | amLocale:'es' |  amLocal |  amDateFormat:'MMMM D'}}</span>
						</div>
					 </div>

					<div style="width: 100%; display: flex; justify-content: center; margin-bottom: 15px;">
					<a id="masaber" [routerLink]="['/detail']" class="subcm"onclick="sdetalleProyecto();" >Quiero saber más</a>
					</div>

				</div>

				<div class="picProject" id="picProject">
					<div class="contpic degradadoBack">{{item.type}}</div>
					<div class="contBut contBut2">
					</div>
					<div class="contBut">
						<a id="saberMas" [routerLink]="['/detail']" class="subcm verMas" >Quiero saber más</a>
					</div>


				<div id="contenedor-slider" class="contenedor-slider">
					<!-- <iframe width="100%" height="100%" src="{{item.video}}" frameborder="0" allow=" encrypted-media" allowfullscreen></iframe> -->
					<!-- <iframe id="player" type="text/html" width="100%" height="100%"  [src]="item.video"  frameborder="0"></iframe> -->
				</div>



				</div>
			</div>


			<div class="carta fuente" id="carta"  *ngIf="item.typeRelease == 'ad'" >

				<div class="">

				</div>

			</div>




</div>
