<div class="login">
    <video src="../../assets/auth.mp4"  autoplay muted loop type="video/mp4"></video>
    <div class="cont">
      <div class="contLogin">
          <mat-icon class="closei" [routerLink]="['/']" >close</mat-icon>


          <form [formGroup]="signinForm" (ngSubmit)="onSubmit(a)" #a="ngForm">
          		<mat-form-field class="example-full-width">
              		<input matInput
              		 placeholder="Correo Electrónico"
              		 formControlName="email"
              		 id="email"
              		 >
            		</mat-form-field>

          		<mat-form-field class="example-full-width">
              		<input matInput
              		 type="password"
              		 placeholder="Contrraseña"
              		 formControlName="password"
              		 id="password"
              		 >
            		</mat-form-field>

            	<button type="submit" mat-raised-button color="accent">Iniciar Sesión</button>

          </form>

          <span class="goSignup"><h4>¿Aún no tienes cuenta?</h4> <h3 [routerLink]="['/signup']">Crea una</h3></span>




      </div>
    </div>
</div>
