<div class="outleet">

<div class="feedContent">
  <mat-tab-group class="demo-tab-group">
  	<mat-tab label="Todo">
  		<div class="demo-tab-content">
        <app-lista-publi [alimentadorFeed]="alimentadorFeed"></app-lista-publi>

  		</div>
  	</mat-tab>

  	<mat-tab label="Piscinas">
      <div class="demo-tab-content">
        <!-- <app-lista-publi></app-lista-publi> -->
   		</div>
  	</mat-tab>
  	<mat-tab label="Calendario VIP">
      <div class="demo-tab-content">
        <!-- <app-lista-publi></app-lista-publi> -->
   		</div>
  	</mat-tab>
  </mat-tab-group>
</div>

<div class="alterno">

  <div class="alternoP">
    <!-- <app-detail></app-detail> -->
    <app-steemit></app-steemit>
  </div>

  <div class="subAlterno">
    <!-- <app-user-form  [loading]="loading"></app-user-form> -->
    <app-detail></app-detail>

  </div>

  <div class="ctaCont" [routerLink]="['/detail']" (click)="this.feedService.escondeScroll(false);">
    <div class="ctA fuente degradadoBack" >
      Quiero ser VIP
    </div>
  </div>
</div>


</div>
